img {
  width: 12px;
}
div.main{
  border: 1px solid #ccc;
  padding: 20px;
  width: 70%;
  font-size:small;
}
div.button {
  /* width: 18%;
  padding: 5px;
  margin: 0 auto; */
  text-align: center;
}
h2 {
  text-align: center;
  display: block;
  margin: 0 auto;
}
label {
  width: 25%;
  display: inline-block;
  text-align: right;
  margin-right: 5px;
}
input#tell {
  width: 45px;
}
input {
  width: 130px;
}
input[type=radio] {
  width: 15px;
  margin: 0px;
}
button {
  margin: 2px;
  padding: 1px 8px;
  background-color: aliceblue;
  border: solid 1px #bbb; 
  border-radius: 4px;
}
hr:nth-of-type(1) {
  border: 1px solid rgb(53, 173, 189);
}
hr:nth-last-of-type(1) {
  border: 1px solid rgb(53, 173, 189);
}
label.class {
  width: 30px;
  text-align: center;
  margin: 0px;
}